<nav>
    <a class="button-pink" href="/logout" id="logout-btn">logout</a>
    <h1 id="site-title">
        <img  height="50px" width="50px" src="/assets/ddlc-logo.png"/> 
        <span class="green">P</span><span class="purple">o</span>e<span class="blue">t</span><span class="purple">r</span>y F<span class="blue">o</span>r<span class="purple">u</span><span class="green">m</span></h1>
    <div>
        <a href="/poem/new" id="new-poem-btn" class="button-pink">New Poem</a>
        <p id="user">Welcome <%= user.username %></p>
    </div>
</nav>