<% include partials/header %>
<body id="login-signup">
    <h1> 
        <img height="125" width="125" src="/assets/ddlc-logo.png"/>
        <span class="green">P</span><span class="purple">o</span>e<span class="blue">t</span><span class="purple">r</span>y F<span class="blue">o</span>r<span class="purple">u</span><span class="green">m</span></h1>
    </h1>
    <form onsubmit="return validateSignup(event);" action="/signup" method="POST" id="signup-form">
        <h3>Create an Account</h3>
        <div class="form-field">
            Enter a username: <input type="text" name="username"/>
        </div>
        <div class="form-field">
            Enter a password: <input type="password" name="password"/>
        </div>
        <div class="form-field">
            Confirm your password: <input type="password" name="confirm"/>
        </div>
        <button class="button-outlined">Sign Up</button>
    </form>

    <form onsubmit="return validateLogin(event);" action="/login" method="POST" id="login-form">
        <h3>Login to Your Account</h3>
        <div class="form-field">
            Enter a username: <input type="text" name="username"/>
        </div>
        <div class="form-field">
            Enter a password: <input type="password" name="password"/>
        </div>
        <button class="button-outlined">Login</button>
    </form>

    <p id="swap-form">Have an account? <span style="color: #b26a9c;">Log in!</span></p>

    <% if(locals.err) { %>
        <div id="error">
            <p><%-locals.err%></p>
            <button onclick="closePrompt(event)" class="prompt-ok button-outlined">Ok</button>
        </div>
    <% } %>
</body>
<script src="/js/swapForm.js"></script>
<script src="/js/prompt.js"></script>
<script src="/js/validateForms.js"></script>